<h1>Edit Article</h1>

<%= render "form", article: @article %>
<!--Foi feito acima a mesma coisa que o arquivo 'app/views/articles/new.html.erb', pois ambos, ou seja, o 'new.html.erb' e o 'edit.html.erb' compartilharão da mesma 'partial' chamada '_form.html.erb', não repetindo assim códigos, já que se eu não fosse fazer sem a 'partial' sendo compartilhada, digitaria o mesmo código para as duas! Deixando meu código mais verboso.  -->